.noBackdropTransparency,
.detailPageSecondaryContainer {
  background-color: rgba(0,0,0,.2) !important;
}

.detailPageWrapperContainer {
  margin-top: 30vh;
}

.cardOverlayButton-br {
  margin: 1vh;
}
